:host {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

section.clock {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    border: 2px solid #ccc;
    font-size: 10px;

    h3,
    p {
        white-space: nowrap;
        margin: 3px;
    }
}